<header>
    <span>
        <img src="/images/node-128px.png" alt="" width="80">&nbsp;
        <img src="/images/mysql-128px.png" alt="" width="80">
    </span>
    <h1>CRUD Node - MySQL - Handlebars</h1>
    <span><img src="/images/handlebars-icon.svg" alt="" width="80"></span>
</header>