<header>
    <span>
        <img src="/images/node-128px.png" alt="" width="80">&nbsp;
        <img src="/images/mysql-128px.png" alt="" width="80">
    </span>
    <span>
        <h1>CADASTRO </h1>
        <h1>Node,  MySQL,  Handlebars</h1>
    </span>
    <span><img src="/images/handlebars-icon.svg" alt="" width="80"></span>
</header>