<h1 class="page-title">Editar dados de: <span class="yellow">{{user.name}}</span></h1>

<form action="/users/edit" method="post">
<fieldset>
    <input type="hidden" name="id" value="{{user.id}}">
    <div class="form-control">
        <label for="name">name: </label>
        <input type="text" name="name" placeholder="Digite o nome" value="{{user.name}}">
    </div>
      <div class="form-control">
        <label for="email">email: </label>
        <input type="email" name="email" placeholder="Digite o email" value="{{user.email}}">
    </div>
    <div class="check-control">
        <label for="active">ativo: </label>
        <input 
            type="checkbox" 
            name="active" 
            {{#if user.active}}
                checked
            {{/if}}
        >
    </div>
    <input type="submit" value="Salvar" class="confirm-btn">
</fieldset>
</form>