<h1 class="page-title">home</h1>
<hr>

<div>
    <h2>Front End</h2>
    <br>
    <ul>
        <li>Handlebars</li>
        <li>Styles: CSS</li>
    </ul>
    <br>
    <h2>Database</h2>
    <br>
    <ul>
        <li>MySQL</li>
        <li>Deployed on Railway</li>
    </ul>
    <br>
    <h2>Backend</h2>
    <br>
    <ul>
        <li>Node JS</li>
        <li>Express</li>
        <li>Sequelize</li>
        <li>Dotenvx</li>
    </ul>
</div>

