<h1 class="page-title">home</h1>
<hr>

<div class="deps-container">
    <div class="deps-item">
        <h2>Front End</h2>
        
        <ul>
            <li>Handlebars</li>
            <li>Styles: CSS</li>
        </ul>
    </div>
   
    <div class="deps-item">
        <h2>Database</h2>
        <ul>
            <li>MySQL</li>
            <li>Deployed on Railway</li>
        </ul>
    </div>
    
    <div class="deps-item">
        <h2>Backend</h2>
        
        <ul style="text-align: left;">
            <li>- Node JS</li>
            <li>- Express</li>
            <li>- Sequelize</li>
            <li>- Dotenvx</li>
        </ul>
    </div>

    <div class="deps-item">
        <h2>Deploy</h2>
        <ul>
            <li>Vercel: <br><a href="https://vercel.com/" target="_blank">https://vercel.com/</a></li>
        </ul>
    </div>

    <div class="deps-item">
        <h2>Deploy Database</h2>
        <ul>
            <li>Aiven: <br><a href="https://aiven.io/" target="_blank">https://aiven.io/</a></li>
        </ul>
    </div>
</div>

