<h1 class="page-title">Cadastrar usuário</h1>
<hr>

<form action="/users/register" method="post">
<fieldset>
    <div class="form-control">
        <label for="name">Nome: </label>
        <input type="text" name="name" placeholder="Digite o nome">
    </div>
      <div class="form-control">
        <label for="email">Email: </label>
        <input type="email" name="email" placeholder="Informe o email">
    </div>
    <div class="check-control">
        <label for="active">Ativo: </label>
        <input type="checkbox" name="active" >
    </div>
    <input type="submit" value="Cadastrar" class="confirm-btn">
</fieldset>
</form>